<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    package="com.example.brijesh.screditprofile">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-sdk android:minSdkVersion="16"
        android:maxSdkVersion="24" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity
            android:name=".Language_selection"
            android:theme="@style/LanguageTheme" />
        <activity
            android:name=".Spinner"
            android:theme="@style/LanguageTheme" />
        <activity
            android:name=".Splash"
            android:screenOrientation="portrait"
            android:theme="@style/LanguageTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/LanguageTheme" />
        <activity android:name=".Publish" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="a1a656823ccff8d0433cd852d65204fc542aec31" />

        <activity android:name=".Registration"
            android:parentActivityName=".NavigationDrawer">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".NavigationDrawer" />

        </activity>
        <activity
            android:name=".NavigationDrawer"
            android:theme="@style/DrawerTheme" />

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".NavigationDrawer" />

        <activity
            android:name=".Utility.CategoryListActivity"
            android:label="category"
            android:theme="@style/DrawerTheme"
            android:parentActivityName=".NavigationDrawer">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".NavigationDrawer" />

        </activity>
    </application>

</manifest>